//$split-min-width: 640px;
//$split-width-breakpoint: 640px;
$split-width-content-extend: 0;
$split-width-aside-open: 100%;

$FontAwesomePath: "fonts" !default;

@import "heart-src/heart";
@import "../bower_components/font-awesome/scss/font-awesome";

$color-blue: #0079F7;
$color-white: #FFFFFF;
$color-grey-light: #F8F8F8;
$color-grey: #C8C7CC;
$color-grey-dark: #B2B2B2;

body {
    background: $color-white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 16px;
    -webkit-text-size-adjust: none;
}

p{
    margin: 12px;
}

/////// Buttons

button {
    margin: auto 6px;
    padding: 0;
    min-height: 44px;
    min-width: 44px;
    //font-size: 30px;
    //line-height: 44px;
    display: block;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    font-size: inherit;
    color: $color-blue;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    &:active {
        opacity:0.4;
    }
}

#edit-button {
    margin-left: auto;
}

#add-button {
    @extend .icon-plus;
    font-size: 20px;
    @include icon-FontAwesome();
}

#split-button {
    vertical-align: top;
    span{
        @extend .icon-chevron-left;
        font-size: 20px;
        @include icon-FontAwesome();
    }
}

/////// Layers & bars

.topbar {
    background-color: $color-grey-light;
    border-bottom: solid $color-grey-dark 1px;
    @include display-flex;
    .title{
        font-size: 18px;
        font-weight: bold;
        margin: auto;
    }
}

.layer-toggle-fade{
    @extend %layer-toggle;
    opacity:0;
    &.open{
        opacity:1;
    }
}

.layer-toggle-bottom{
    @extend %layer-toggle;

    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);

    &.open{
        -webkit-transform: none;
        transform: none;
    }

    @media screen and (min-width: $split-width-breakpoint) {
        .appleios &, .appleios &.open{
            left: 20% !important;
        }
        top: 10%;
        bottom: 20%;
        left: 20%;
        right: 20%;
        box-shadow: 0 10px 60px rgba(0,0,0,0.5);

        -webkit-transform: translate3d(0, 130%, 0);
        transform: translate3d(0, 130%, 0);
    }
}

#layer-toggle-1, #layer-toggle-2{
    background-color: $color-white;
}

.aside-layer{
    background-color: $color-white;
    .title-section{
        background-color: $color-grey-light;
        padding:1px 12px;
        font-weight: bold;
        position: -webkit-sticky;
        position: sticky;
    }
    ul{
        list-style: none;
        margin:0;
        padding:0;
        li{
            cursor: pointer;
            &:first-child span{
                border:none;
            }
            &:active{
                background-color: $color-grey;
                & + li span{
                    border-top: solid transparent 1px;
                }
            }
            span{
                display: block;
                margin:0 12px;
                padding:12px 0;
                border-top: solid $color-grey 1px;
            }
        }
    }
}
.content-layer{
    background-color: $color-white;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    @media screen and (max-width: $split-width-breakpoint) {
        .open & {
            box-shadow: 0 0 8px rgba(0,0,0,0);
        }
    }
}

/////// Content

%person{
    .info{
        @include display-flex;
        margin: 12px 0 28px 24px;
        img{
            width: 60px;
            height: 60px;
            border-radius: 30px;
            margin-right:18px;
        }
        .title{
            margin: auto 0;
        }
    }
    dl{
        margin: 12px 0 12px 24px;
        dt{
            color: $color-blue;
            font-size: 14px;
        }
    }
}

.person-show{
    @extend %person;
    .info{
        .title{
            font-weight: bold;
            font-size: 18px;
        }
    }
    dl{
        dt{
            margin:6px 0;
        }
        dd{
            margin:0 0 12px;
            padding-bottom: 12px;
            border-bottom: solid $color-grey 1px;
            &:last-child{
                border:none;
            }
        }
    }
}

.person-form{
    @extend %person;
    .info{
        .title{
            > div {
               margin: 6px 0; 
            }
        }
    }
    dl{
        @include display-flex;
        @include flex-wrap(wrap);
        dt, dd{
            @include box-sizing(border-box);
            margin:6px 0 18px;
            padding-bottom: 12px;
            border-bottom: solid $color-grey 1px;
        }
        dt{
            //@include flex(1);
            width: 90px;
        }
        dt.add-field{
            //@include flex(1 100%);
            width: 100%;
        }
        dd{
            //@include flex(1 68%);
            width: -webkit-calc(100% - 90px);
            width: calc(100% - 90px);
            border-left: solid $color-grey 1px;
            padding-left: 12px;
        }
    }
}

@supports not (flex-wrap: wrap) {
    .person-form dl { 
        display: block;
        font-size: 0;
        dt, dd{
            display: inline-block;
        }
        dt{
            vertical-align: bottom;
        }
        dd{
            font-size: 1rem;
            @include box-sizing(border-box); 
        }
    }
  }