$split-min-width: 320px;
$split-width-breakpoint: 1024px;
$split-width-content-extend: 0;
//$split-width-aside-open: 100%;

$FontAwesomePath: "fonts" !default;

@import "heart-src/heart";
@import "../bower_components/font-awesome/scss/font-awesome";

$color-blue: #33B5E5;
$color-white: #FFFFFF;
$color-grey-light: #EEEEEE;
$color-grey: #DDDDDD;
$color-grey-dark: #535353;

$color-social: #4886E7;
$color-promotion: #15A765;
$color-update: #E9B330;

body {
    background: $color-white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $color-grey-dark;
    font-size: 16px;
    -webkit-text-size-adjust: none;
}

p{
    margin: 0;
}

/////// Buttons

button {
    margin: auto 6px;
    padding: 0;
    min-height: 44px;
    min-width: 44px;
    //font-size: 30px;
    //line-height: 44px;
    display: block;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    font-size: inherit;
    color: $color-blue;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    &:active {
        background-color: rgba(0,0,0,0.1);
    }
}

#edit-button {
    margin-left: auto;
}

#add-button {
    @extend .icon-plus;
    font-size: 20px;
    @include icon-FontAwesome();
}

#split-button {
    margin:auto 0;
    padding-right: 8px;
    color: $color-grey-dark;
    vertical-align: top;

    -webkit-transform: translate3d(-6px, 0, 0);
    transform: translate3d(-6px, 0, 0);
    > *{
        display: inline-block;
    }
    i{
        vertical-align: middle;
        margin-right: 4px;

        @extend .icon-reorder;
        font-size: 18px;
        @include icon-FontAwesome();

        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
        -webkit-transition-duration:200ms;
        transition-duration:200ms;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease;
        @media screen and (min-width: $split-width-breakpoint) {
            visibility: hidden;
        }
    }
    span{
        color: #DB3E3E;
        vertical-align: middle;
        font-size: 28px;

        background-color: white;
        padding: 0 4px;
        border-radius: 2px;
    }
}

/////// Layers & bars

.topbar {
    background-color: $color-grey;
    //border-bottom: solid $color-grey-dark 1px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    z-index: 2;
    @include display-flex;
    .title{
        font-size: 18px;
        font-weight: bold;
        margin: auto;
    }
    &.open-layout-split{
        #split-button i{
            -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
        }
    }
}

.layout-split-toggle{
    z-index: 1;
    @extend %layout-split;

    &:before{
        z-index: 2 !important;
        content: " ";
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color: black;
        opacity:0;

        visibility: hidden;

        -webkit-transition-property: opacity, visibility;
        transition-property: opacity, visibility;
        -webkit-transition-duration:200ms;
        transition-duration:200ms;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease;
    }

    @media screen and (max-width: $split-width-breakpoint - 1) {
        >.aside-layer{
            z-index: 3 !important;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            box-shadow: none;
        }
        >.content-layer{
            z-index: 1 !important;
            &:before{
                opacity:0;
            }
        }
        &.open{
            &:before{
                visibility: visible;
                opacity:0.5;
            }
            >.aside-layer{
                -webkit-transform: none;
                transform: none;
                @media screen and (max-width: $split-width-breakpoint - 1) {
                    box-shadow: 0 0 8px rgba(0,0,0,0.3);
                }
            }
            >.content-layer{
                
            }
        }
    }
}

/*.layer-toggle-fade{
    @extend %layer-toggle;
    opacity:0;
    &.open{
        opacity:1;
    }
}

.layer-toggle-bottom{
    @extend %layer-toggle;

    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);

    &.open{
        -webkit-transform: none;
        transform: none;
    }

    @media screen and (min-width: $split-width-breakpoint) {
        top: 10%;
        bottom: 20%;
        left: 20%;
        right: 20%;
        box-shadow: 0 10px 60px rgba(0,0,0,0.5);

        -webkit-transform: translate3d(0, 130%, 0);
        transform: translate3d(0, 130%, 0);
    }
}*/

#layer-toggle-1, #layer-toggle-2{
    background-color: $color-white;
}

.aside-layer{
    background-color: $color-grey-light;
    .title-section{
        margin-top: 14px;
        padding:6px 12px 2px;
        font-weight: bold;
        position: -webkit-sticky;
        position: sticky;
        text-transform: uppercase;
        font-size: 12px;
        border-bottom: solid #B9B9B9 2px;
    }
    ul{
        list-style: none;
        margin:0;
        padding:0;
        font-size: 14px;
        li{
            cursor: pointer;
            border-top: solid $color-grey 1px;
            padding:8px 12px;
            height: 44px;
            @include box-sizing(border-box);
            @include display-flex;
            @include align-items(center);

            &:first-child{
                border:none;
            }
            &:active{
                background-color: $color-grey;
                /*& + li span{
                    border-top: solid transparent 1px;
                }*/
            }
            &.selected{
                background-color: $color-blue;
                color: $color-white;
            }
            span{
                //display: block;
                //margin:0 12px;
                &.title{
                    @include flex(1);
                }
                &.num{
                    padding:0 8px;
                    font-size: 12px;
                    min-width: 40px;                    
                    text-align: center;
                    padding: 2px 0;
                }
            }
            i{
                font-size: 18px;
                @include icon-FontAwesome();
                padding-right: 8px;
            }
            &.primary{
                i{
                    @extend .icon-inbox;
                }
            }
            &.social{
                .num{
                    background-color: $color-social;
                    color: $color-white;
                }
                i{
                    @extend .icon-user;
                }
            }
            &.promotion{
                .num{
                    background-color: $color-promotion;
                    color: $color-white;
                }
                i{
                    @extend .icon-tags;
                }
            }
            &.update{
                .num{
                    background-color: $color-update;
                    color: $color-white;
                }
                i{
                    @extend .icon-info-sign;
                }
            }
        }
    }
}
.content-layer{
    background-color: $color-white;

    @media screen and (min-width: $split-width-breakpoint) {
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
    }
    
}

ul.list-categories{
    list-style: none;
    margin:0;
    padding:0;
    li{
        height: 44px;
        padding:8px;
        @include box-sizing(border-box);
        @include display-flex;
        @include align-items(center);
    
        .icon{
            width:40px;
            padding:4px 0;
            background-color: $color-grey-light;
            text-align: center;
        }
        .info{
            @include flex(1);
            padding: 0 8px;
            .title{
                font-weight: bold;
                font-size: 13px;
            }
            .subtitle{
                font-size: 12px;
            }
        }
        .num{
            font-size: 13px;
            padding:2px 12px;
        }


        i{
            font-size: 16px;
            @include icon-FontAwesome();
        }
        &.social{
            .num{
                background-color: $color-social;
                color: $color-white;
            }
            i{
                @extend .icon-user;
                color: $color-social;
            }
        }
        &.promotion{
            .num{
                background-color: $color-promotion;
                color: $color-white;
            }
            i{
                @extend .icon-tags;
                color: $color-promotion;
            }
        }
        &.update{
            .num{
                background-color: $color-update;
                color: $color-white;
            }
            i{
                @extend .icon-info-sign;
                color: $color-update;
            }
        }
    }
}

ul.list-mail{
    list-style: none;
    margin:0;
    padding:0;
    li{
        height: 60px;
        padding:8px;
        background-color: $color-grey-light;
        border-bottom: solid $color-grey 1px;
        @include display-flex;
        @include box-sizing(border-box);
        .image{
            @include display-flex;
            width:50px;
            img{
                margin:auto 0 auto auto;
                border:none;
                background-color: $color-grey;
                width:40px;
                height:40px;
            }
        }
        .info{
            padding:0 12px;
            @include flex(1);
            @include display-flex;
            @include flex-direction(column);
            @include justify-content(center);
        }
        .person{
            font-size: 14px;
            flex-shrink:0;
        }
        .preview{
            flex-shrink:1;
            font-size: 12px;
            overflow: hidden;
            p{
                color: #999;
            }
            .title{
                color: $color-grey-dark;
            }
        }
        .detail{
            padding: 0 12px;
            @include display-flex;
            @include flex-direction(column);
            @include justify-content(space-between);
        }
        .date{
            font-size: 12px;
        }
        .favoris{
            text-align: right;
            i{
                @extend .icon-star-empty;
                font-size: 18px;
                @include icon-FontAwesome();
            }
        }

        &.unread{
            background-color: $color-white;
            .person, .preview .title{
                font-weight: bold;
            }
        }
    }
    @media screen and (min-width: 770px) {
        li{
            .info, .detail{
                @include flex-direction(row);
                @include align-items(center);
            }
            .person{
                padding-right: 12px;
                @include flex(1);
            }
            .preview{
                @include flex(2);
            }
            .favoris{
                align-self: center;
                text-align: center;
                width:60px;
            }
        }
        
    }
}