@import "heart-src/heart";

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ecf0f1;
}

p{
    margin: 1em;
}

.button-split, .toggle-button{
    margin: 0;
    padding: 0;
    height: 44px;
    width: 44px;
    font-size: 30px;
    line-height: 44px;
}

.layer{
    background-color: #95a5a6;
}
.topbar {
    background-color: #e74c3c;
}
.bottombar {
    background-color: #e67e22;
}
.layer-scrollable{
    background-color: #f1c40f !important;
}
#layer-toggle{
    background-color: #9b59b6 !important;
}

#page1{
    background-color: #2ecc71 !important;
}
#page2{
    background-color: #1abc9c !important;
}

.aside-layer{
    background-color: #34495e !important;
}
.content-layer{
    background-color: #3498db !important;
}

.layout-split .layer-scrollable {
    background-color: transparent !important;
}