.animation-region > :not(.current) {
    display: none;
}

.cssanimations.csstransforms3d.positionfixed  {

	.animation-region{
        -webkit-perspective: 1000px;
	    perspective: 1000px;
        -webkit-transform-style: preserve-3d;
	    transform-style: preserve-3d;
        
	    overflow: hidden;
	}
	.animation-region > * {
		width: 100%;
		position: absolute;
		display: block;

		//-webkit-perspective: 1000;
		-webkit-backface-visibility: hidden;
	}
	.animation-region > :not(.current) {
		display: none;
	}

}

/***************/

.slideleft.in, .slideleft.out{
	-webkit-animation-duration: 400ms;
	animation-duration: 400ms;
}

.slideleft.in {
    -webkit-animation-name: slideLeftIn;
    animation-name: slideLeftIn;
}

.slideleft.out {
    -webkit-animation-name: slideLeftOut;
    animation-name: slideLeftOut;
}

@-webkit-keyframes slideLeftIn {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
    } 
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideLeftOut {
    0% {
    	-webkit-transform: translate3d(0, 0, 0);
    } 
    100% {
    	-webkit-transform: translate3d(-100%, 0, 0);
    }
}

@keyframes slideLeftIn {
    0% {
        transform: translate3d(100%, 0, 0);
    } 
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideLeftOut {
    0% {
    	transform: translate3d(0, 0, 0);
    } 
    100% {
    	transform: translate3d(-100%, 0, 0);
    }
}

/* Slide Right */

.slideright.in, .slideright.out{
	-webkit-animation-duration: 400ms;
	animation-duration: 400ms;
}

.slideright.in {
    -webkit-animation-name: slideRightIn;
    animation-name: slideRightIn;
}

.slideright.out {
    -webkit-animation-name: slideRightOut;
    animation-name: slideRightOut;
}

@-webkit-keyframes slideRightIn {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
    } 
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideRightOut {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    } 
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
    }
}

@keyframes slideRightIn {
    0% {
        transform: translate3d(-100%, 0, 0);
    } 
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideRightOut {
    0% {
        transform: translate3d(0, 0, 0);
    } 
    100% {
        transform: translate3d(100%, 0, 0);
    }
}

/* Disolve */
.dissolve.in, .dissolve.out{
	-webkit-animation-duration: 400ms;
	animation-duration: 400ms;
}

.dissolve.in {
    -webkit-animation-name: dissolveIn;
    animation-name: dissolveIn;
}

.dissolve.out {
    -webkit-animation-name: dissolveOut;
    animation-name: dissolveOut;
}

@-webkit-keyframes dissolveIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes dissolveOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}

@keyframes dissolveIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@keyframes dissolveOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}

.in, .out {
	-webkit-animation-duration: 400ms;
	-webkit-animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-duration: 400ms;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

/*.in {
	z-index: 50;
}
.in:after {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.out {
	z-index: 0 !important;
}*/