body.page-layout{overflow: hidden;}
.page-layout{
	position: absolute;
	//width:100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	&.with-topbar{
		top: $height-topbar;
	}
	&.with-bottombar{
		bottom: $height-bottombar;
	}
}
.topbar{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: $height-topbar;
}
.bottombar{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: $height-bottombar;
}

//FALLBACK OLD BROWSER (like Android 2.X)
.no-cssanimations, .no-csstransforms3d, .no-positionfixed{
	&, body{height:100%;}
	.page-layout{
		position: relative;
		bottom:auto;
		padding-top: 0;
		padding-bottom: 0;
		overflow-y:visible;
	}
	.topbar{
		position: static;
	}
	.page-layout.with-topbar{
		top:auto;
	}
}

@import "scrollable";
@import "navbar";
@import "tabbar";
@import "split-view";
@import "animation-region";