.dissolve.in, .dissolve.out{
	-webkit-animation-duration: 200ms;
	animation-duration: 200ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

.dissolve.in {
    -webkit-animation-name: dissolveIn;
    animation-name: dissolveIn;
    z-index:2;
}

.dissolve.out {
    -webkit-animation-name: dissolveOut;
    animation-name: dissolveOut;
    z-index:1;
}

@-webkit-keyframes dissolveIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes dissolveOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 1;
    }
}

@keyframes dissolveIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@keyframes dissolveOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 1;
    }
}