.dissolve.in, .dissolve.out{
	-webkit-animation-duration: 200ms;
	animation-duration: 200ms;
}

.dissolve.in {
    -webkit-animation-name: dissolveIn;
    animation-name: dissolveIn;
}

.dissolve.out {
    -webkit-animation-name: dissolveOut;
    animation-name: dissolveOut;
}

@-webkit-keyframes dissolveIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes dissolveOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}

@keyframes dissolveIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@keyframes dissolveOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}