.animation-layout > :not(.current) {
    //display: none;
	visibility: hidden;
	opacity:0;
}

.appleios{
	.animation-layout > :not(.current) {
	    display: none;
	}
}

.cssanimations.csstransforms3d.positionfixed  {

	.animation-layout{
        -webkit-perspective: 1000px;
	    perspective: 1000px;
        -webkit-perspective-origin: 50% 50%;
        perspective-origin: 50% 50%;
        -webkit-transform-style: preserve-3d;
	    transform-style: preserve-3d;
        
	    overflow: hidden;
	}
	.animation-layout > * {
		width: 100%;
		position: absolute;
		//display: block;
		//visibility: visible;
		//opacity:1;

		//-webkit-perspective: 1000;
		-webkit-backface-visibility: hidden;
	}
	.animation-layout > :not(.current) {
		//display: none;
		visibility: hidden;
		opacity:0;
		z-index:1;
	}
	.appleios{
		.animation-layout > :not(.current) {
		    display: none;
		}
	}

    .in, .out {
        //-webkit-animation-duration: 400ms;
        -webkit-animation-fill-mode: both;
        -webkit-animation-timing-function: ease;
        //animation-duration: 400ms;
        animation-fill-mode: both;
        animation-timing-function: ease;
    }

}

/***************/


@import "animation/slide-left";
@import "animation/slide-right";
@import "animation/dissolve";


/*.in {
	z-index: 50;
}
.in:after {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.out {
	z-index: 0 !important;
}*/