%layer-toggle{
	@extend .layer;

	visibility: hidden;
	.appleios &{
		left: 100% !important;
	}

	-webkit-backface-visibility: hidden;

	-webkit-transition-property: all, visibility, left;
	transition-property: all, visibility, left;
	-webkit-transition-duration:200ms, 0ms, 0ms;
	transition-duration:200ms, 0ms, 0ms;
	-webkit-transition-timing-function: ease, linear, linear;
	transition-timing-function: ease, linear, linear;
	-webkit-transition-delay: 0ms, 200ms, 200ms;
	transition-delay: 0ms, 200ms, 200ms;

	&.open{
		visibility: visible;
		-webkit-transition-delay: 0ms;
		transition-delay: 0ms;
		.appleios &{
			left: 0 !important;
		}
	}
	
}
.no-cssanimations, .no-csstransforms3d, .no-positionfixed{
	%layer-toggle{
		@include transition(none);
		display:none;
		&.open{
			display: block;
		}
	}
	
}

.layer-toggle{
	@extend %layer-toggle;

	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);

	&.open{
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

}

.layer-toggle-fade{
	@extend %layer-toggle;
	opacity:0;
	&.open{
		opacity:1;
	}
}

.layer-toggle-pop{
	@extend %layer-toggle;

	-webkit-transform: scale(0.5) translate3d(0, -25%, 0);
	transform: scale(0.5) translate3d(0, -25%, 0);
	opacity:0;

	&.open{
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		transform: scale(1) translate3d(0, 0, 0);
		opacity:1;
	}
}