$split-width-content-extend: 44px !default;
$split-min-width: 320px !default;
$split-width-aside: $split-min-width - $split-width-content-extend;
$split-width-breakpoint: 570px !default;

%layout-split{
	@extend .layer;
	-webkit-overflow-scrolling:auto;
	overflow: hidden;
	>.aside-layer, >.content-layer{
		@extend .layer;

		-webkit-transition-property: -webkit-transform;
		transition-property: transform;
		-webkit-transition-duration:200ms;
		transition-duration:200ms;
		-webkit-transition-timing-function: ease;
		transition-timing-function: ease;

		-webkit-backface-visibility: hidden;
	}
	>.aside-layer{
		width: $split-width-aside;
		z-index:1;
	}
	>.content-layer{
		left: $split-width-aside;
		//width: -webkit-calc(100% - #{$largeurMenu});
		//width: calc(100% - #{$largeurMenu});
		z-index:2;
	}
	.button-split{
		display:none;
	}
	@media screen and (max-width: $split-width-breakpoint) {
		// -webkit-perspective: 1000px;
		// perspective: 1000px;
		// -webkit-perspective-origin: 50% 50%;
		// perspective-origin: 50% 50%;
		// -webkit-transform-style: preserve-3d;
		// transform-style: preserve-3d;
		>.aside-layer{
			width: $split-width-aside;
		}
		>.content-layer{
			left:0;
			width: 100%;
		}
		.button-split{
			display:block;
		}
	}
}

//FALLBACK OLD BROWSER (like Android 2.X)
.no-cssanimations, .no-csstransforms3d, .no-positionfixed{

	%layout-split{
		//min-height: 100%;
		//@include display-flex;
		>.aside-layer, >.content-layer{
			//@include display-flex;
			//@include flex-direction(column);
			//>.layer{
			//	@include flex(1);
			//}
		}
		>.aside-layer{
			float:left;
			//position:absolute;
			//min-height: 100%;
		}
		>.content-layer{
			left:auto;
			//@include flex(1);
			-webkit-transform: none;
			transform: none;
		}
		@media screen and (max-width: $split-width-breakpoint) {
			>.aside-layer{
				//position:absolute;
				display: none;
			}
			
			&.open{
				//display:block;
				>.aside-layer{
					position:static;
					display: block;
				}
				>.content-layer{
					position:absolute;
					left:$split-width-aside;
					//-webkit-transform: none;
					//transform: none;
					//bottom:0;

					//overflow-y: hidden;
				}
			}
		}
	}

}

.layout-split{
	@extend %layout-split;
	@media screen and (max-width: $split-width-breakpoint) {
		>.aside-layer{
			-webkit-transform: translate3d(-20%, 0, 0);
			transform: translate3d(-20%, 0, 0);
		}
		/*>.content-layer{
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}*/
		&.open{
			>.aside-layer{
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			>.content-layer{
				-webkit-transform: translate3d($split-width-aside, 0, 0);
				transform: translate3d($split-width-aside, 0, 0);
			}
		}
	}
}

.layout-split-carousel{
	@extend %layout-split;
	@media screen and (max-width: $split-width-breakpoint) {
		>.aside-layer{
			-webkit-transform: translateZ(-100px) rotateY(25deg);
			transform: translateZ(-100px) rotateY(25deg);
		}
		&.open{
			>.aside-layer{
				-webkit-transform: none;
				transform: none;
			}
			>.content-layer{
				-webkit-transform: translateX($split-width-aside);
				transform: translateX($split-width-aside);
			}
		}
	}
}