%toggle-layer{
	@extend .layer;

	visibility: hidden;
	.appleios &{
		left: 100% !important;
	}

	-webkit-backface-visibility: hidden;

	-webkit-transition-property: all, left;
	transition-property: all, left;
	-webkit-transition-duration:200ms, 0;
	transition-duration:200ms, 0;
	-webkit-transition-timing-function: ease, linear;
	transition-timing-function: ease, linear;
	-webkit-transition-delay: 0, 200ms;
	transition-delay: 0, 200ms;

	&.open{
		visibility: visible;
		-webkit-transition-delay: 0;
		transition-delay: 0;
		.appleios &{
			left: 0 !important;
		}
	}
	
}
.no-cssanimations, .no-csstransforms3d, .no-positionfixed{
	%toggle-layer{
		@include transition(none);
		display:none;
		&.open{
			display: block;
		}
	}
	
}

.toggle-layer{
	@extend %toggle-layer;

	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);

	&.open{
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

}

.toggle-layer-fade{
	@extend %toggle-layer;

	-webkit-transform: scale(0.5) translate3d(0, -25%, 0);
	transform: scale(0.5) translate3d(0, -25%, 0);
	opacity:0;

	&.open{
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		transform: scale(1) translate3d(0, 0, 0);
		opacity:1;
	}

}