%toggle-layer{
	@extend .layer;

	visibility: hidden;

	&.open{
		visibility: visible;
	}
	
}
.no-cssanimations, .no-csstransforms3d, .no-positionfixed{
	%toggle-layer{
		@include transition(none);
		display:none;
		&.open{
			display:block;
		}
	}
	
}

.toggle-layer{
	@extend %toggle-layer;

	-webkit-transition-property: -webkit-transform, visibility;
	transition-property: transform, visibility;
	-webkit-transition-duration:200ms;
	transition-duration:200ms;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;

	-webkit-backface-visibility: hidden;

	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);

	&.open{
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

}

.toggle-layer-fade{
	@extend %toggle-layer;

	-webkit-transition-property: -webkit-transform, visibility, opacity;
	transition-property: transform, visibility, opacity;
	-webkit-transition-duration:200ms;
	transition-duration:200ms;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;

	-webkit-backface-visibility: hidden;

	-webkit-transform: scale(0.5) translate3d(0, -25%, 0);
	transform: scale(0.5) translate3d(0, -25%, 0);
	opacity:0;

	&.open{
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		transform: scale(1) translate3d(0, 0, 0);
		opacity:1;
	}

}