.toggle-menu{
	@extend .scrollable;
	@extend .with-topbar;
	z-index:2;

	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	.wrap{
		/*-webkit-perspective: 1000px;
	    perspective: 1000px;
	    -webkit-perspective-origin: 50% 50%;
        perspective-origin: 50% 50%;
	    -webkit-transform-style: preserve-3d;
	    transform-style: preserve-3d;*/

		@include transition(all 300ms ease);
		@include transform(translate3d(0, -101%, 0));
	}

	.open &{
		visibility: visible;
		.wrap{
			@include transform(translate3d(0, 0, 0));
		}
	}

	
}
.no-cssanimations, .no-csstransforms3d, .no-positionfixed{
	.toggle-menu{
		@include transition(none);
		.wrap{
			@include transition(none);
			@include transform(none);
		}
		display:none;
	}
	.open .toggle-menu{
		display:block;
	}
	
}